@font-face{
    font-family: "Avenir Roman";
    src: url("avenir-roman.ttf") format(truetype);
}

*{
    margin: 0;
    padding: 0;
}

.login{
    background: #6525fc;
    height: 3.5em;
    width: 32em;
    margin-bottom: 9em;
    margin: 1em;
    color: #f9f9f9;
    align-items: center;
    border-radius: .1em;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    transition: all .2s ease 0s;
    font-family: "Avenir Roman", sans-serif;
    font-size: 1.2em;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.footnote{
    color: #f9f9f9;
    text-align: inherit;
    font-size: 1em;
    font-family: Avenir,sans-serif;
    font-weight: 350;
    letter-spacing: .05em;
    text-decoration: underline;
}

h1{
    font-family: "Avenir Roman", sans-serif;
    font-size: 1.5em;
    letter-spacing: .05em;
    color: #f9f9f9;
}
